
<!DOCTYPE html>
<html>
    <title>PACKITUP</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
    <link rel="stylesheet" href="{%static 'w3.css'%}">
    <head>
	{%load static%}
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
    </head>
    
    <style>
    .header img {
      float: left;
      width: 100px;
      height: 100px;
      background: #555;
    }
    .previous {
      background-color: #f1f1f1;
      color: black;
      padding: 10px 15px;
    } 

    .next {
      background-color: #4CAF50;
      color: white;
      padding: 10px 15px;
    }

    .btn{
      position:absolute;
      top:0px;
      left:0px;
    }
    
    </style>
    
    <div class="w3-container w3-teal color:#111111 header">
      <img src="mainLogo1.png">
      <h1 style="font-size:45px;">&nbsp;&nbsp;&nbsp;PACKITUP</h1>
   </div>
    <div class="w3-display-topright btn w3-container w3-xlarge"></div>
    <a href="#" class="previous ">&#8249;</a>
    <a href="#" class="next ">&#8250;</a>
    </div>
    

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>


<div class="w3-row w3-container" style="margin:50px 0">
<div class="w3-half w3-container">
    <div class=" w3-border-amber">
    <img src="C:\Users\USER-21\Desktop\12\project\udaipur.jpg" style="width:90%">
    <h2>SMART VACATION</h2>
    <p>Full vacation control from your cell phone.</p>
  </div>
</div>

<div class="w3-half w3-container">
  <div class=" w3-border-amber">
    <img src="C:\Users\USER-21\Desktop\12\project\andaman.jpg" style="width:95%">
    <h2>SUPER OFFERS</h2>
    <p>Up to 50% offers. Always 25% student offers.</p>
  </div>
</div>
</div>

<div class="w3-row w3-container" style="margin:50px 0">
<div class="w3-half w3-container">
  <div class=" w3-border-orange">
    <img src="C:\Users\USER-21\Desktop\12\project\kerala.jpg" style="width:90%">
    <h2>GET GOIN'</h2>
    <p>VIBRANT FAMILY PACKAGES TO CHOOSE FROM.</p>
  </div>
</div>

<div class="w3-half w3-container">
  <div class=" w3-border-orange">
    <img src="C:\Users\USER-21\Desktop\12\project\flight3.jpg" style="width:88%">
    <h2>REALISE YOUR DREAMS</h2>
    <p>Don't wait until it is to late.</p>
    </div>
</div>
</div>

</body>
</html>
