<!DOCTYPE html>
<html>
<title>PACKITUP</title>
<head>
{%load static%}
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
</head>
<!-- header -->

<!-- logo attribute-->
<style>
.header img {
  float: left;
  width: 100px;
  height: 100px;
  background: #555;
}

</style>
<!-- header box -->
<div class="w3-container w3-teal color:#111111 header">
    <img src="{% static 'mainLogo1.png' %}">
    <h1 style="font-size:45px;">&nbsp;&nbsp;&nbsp;PACKITUP</h1>
</div>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}
</style>
</head>
<body>
<div class="hero-text">
    <p style="font-size:160%;">Thank you for registering with us!</p>
    <button><a href="C:\Users\USER-21\Desktop\12\project\user page.html">continue booking </a></button>
</div>

</html>
